mysqldump: [Warning] Using a password on the command line interface can be insecure.
-- MySQL dump 10.13  Distrib 8.0.41, for Linux (x86_64)
--
-- Host: localhost    Database: django_db
-- ------------------------------------------------------
-- Server version	8.0.41

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Dumping data for table `auth_group`
--

LOCK TABLES `auth_group` WRITE;
/*!40000 ALTER TABLE `auth_group` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_group_permissions`
--

LOCK TABLES `auth_group_permissions` WRITE;
/*!40000 ALTER TABLE `auth_group_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_group_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_permission`
--

LOCK TABLES `auth_permission` WRITE;
/*!40000 ALTER TABLE `auth_permission` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_permission` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_user`
--

LOCK TABLES `auth_user` WRITE;
/*!40000 ALTER TABLE `auth_user` DISABLE KEYS */;
INSERT INTO `auth_user` VALUES (1,'pbkdf2_sha256$870000$GwsoIJEASCTpwaZqiwDhsK$fOENvoHgTrYAA2tuF37Cn/+YiMAOQOdq/SJPmwIv22Q=','2025-02-01 00:18:13.991429',1,'loq','','','loq@gmail.com',1,1,'2025-01-26 21:55:53.947911');
/*!40000 ALTER TABLE `auth_user` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_user_groups`
--

LOCK TABLES `auth_user_groups` WRITE;
/*!40000 ALTER TABLE `auth_user_groups` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_groups` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `auth_user_user_permissions`
--

LOCK TABLES `auth_user_user_permissions` WRITE;
/*!40000 ALTER TABLE `auth_user_user_permissions` DISABLE KEYS */;
/*!40000 ALTER TABLE `auth_user_user_permissions` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_admin_log`
--

LOCK TABLES `django_admin_log` WRITE;
/*!40000 ALTER TABLE `django_admin_log` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_admin_log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_content_type`
--

LOCK TABLES `django_content_type` WRITE;
/*!40000 ALTER TABLE `django_content_type` DISABLE KEYS */;
INSERT INTO `django_content_type` VALUES (1,'admin','logentry'),(3,'auth','group'),(2,'auth','permission'),(4,'auth','user'),(5,'contenttypes','contenttype'),(7,'myapp','cart'),(14,'myapp','cartproducts'),(12,'myapp','commune'),(8,'myapp','moughataa'),(13,'myapp','pointofsale'),(9,'myapp','product'),(15,'myapp','productprice'),(10,'myapp','producttype'),(11,'myapp','wilaya'),(6,'sessions','session'),(16,'users','profile');
/*!40000 ALTER TABLE `django_content_type` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_migrations`
--

LOCK TABLES `django_migrations` WRITE;
/*!40000 ALTER TABLE `django_migrations` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_migrations` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `django_session`
--

LOCK TABLES `django_session` WRITE;
/*!40000 ALTER TABLE `django_session` DISABLE KEYS */;
/*!40000 ALTER TABLE `django_session` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `myapp_cart`
--

LOCK TABLES `myapp_cart` WRITE;
/*!40000 ALTER TABLE `myapp_cart` DISABLE KEYS */;
INSERT INTO `myapp_cart` VALUES (1,'CART001','Panier Familial','Panier standard pour famille'),(2,'CART002','Panier ├ëtudiant','Panier ├®conomique'),(3,'CART003','Panier 1','Panier 1'),(4,'CART004','Panier 2','Panier 2'),(5,'CART005','Panier 3','Panier 3'),(6,'CART006','Panier 4','Panier 4'),(7,'CART007','Panier 5','Panier 5');
/*!40000 ALTER TABLE `myapp_cart` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `myapp_cartproducts`
--

LOCK TABLES `myapp_cartproducts` WRITE;
/*!40000 ALTER TABLE `myapp_cartproducts` DISABLE KEYS */;
INSERT INTO `myapp_cartproducts` VALUES (1,10.00,'2025-10-01','2025-10-02',1,1,1);
/*!40000 ALTER TABLE `myapp_cartproducts` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `myapp_commune`
--

LOCK TABLES `myapp_commune` WRITE;
/*!40000 ALTER TABLE `myapp_commune` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_commune` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `myapp_moughataa`
--

LOCK TABLES `myapp_moughataa` WRITE;
/*!40000 ALTER TABLE `myapp_moughataa` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_moughataa` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `myapp_pointofsale`
--

LOCK TABLES `myapp_pointofsale` WRITE;
/*!40000 ALTER TABLE `myapp_pointofsale` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_pointofsale` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `myapp_product`
--

LOCK TABLES `myapp_product` WRITE;
/*!40000 ALTER TABLE `myapp_product` DISABLE KEYS */;
INSERT INTO `myapp_product` VALUES (1,'P001','Pain','Pain frais','kg',2),(2,'P002','T-shirt','T-shirt en coton','unit├®',3),(3,'P003','Smartphone','Smartphone Android','unit├®',4),(4,'P004','TV','Television','unite',4),(5,'Med123','Mbourou','Hello','kg',2);
/*!40000 ALTER TABLE `myapp_product` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `myapp_productprice`
--

LOCK TABLES `myapp_productprice` WRITE;
/*!40000 ALTER TABLE `myapp_productprice` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_productprice` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `myapp_producttype`
--

LOCK TABLES `myapp_producttype` WRITE;
/*!40000 ALTER TABLE `myapp_producttype` DISABLE KEYS */;
INSERT INTO `myapp_producttype` VALUES (2,'PT001','Alimentation','Alimentation'),(3,'PT002','Habillement','Habillement'),(4,'PT003','├ëlectronique','├ëlectronique'),(5,'M041','Alimentation','5r567');
/*!40000 ALTER TABLE `myapp_producttype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `myapp_wilaya`
--

LOCK TABLES `myapp_wilaya` WRITE;
/*!40000 ALTER TABLE `myapp_wilaya` DISABLE KEYS */;
/*!40000 ALTER TABLE `myapp_wilaya` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Dumping data for table `users_profile`
--

LOCK TABLES `users_profile` WRITE;
/*!40000 ALTER TABLE `users_profile` DISABLE KEYS */;
INSERT INTO `users_profile` VALUES (1,'profile_pics/default.png',1);
/*!40000 ALTER TABLE `users_profile` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-02-03  0:34:57
