{% extends "base.html" %}

{% block content %}
<h1>Moughataa List</h1>
<a href="{% url 'moughataa_create' %}" class="btn btn-primary">Create New Moughataa</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Label</th>
            <th>Wilaya</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for moughataa in object_list %}
        <tr>
            <td>{{ moughataa.id }}</td>
            <td>{{ moughataa.code }}</td>
            <td>{{ moughataa.label }}</td>
            <td>{{ moughataa.wilaya.name }}</td>
            <td>
                <a href="{% url 'moughataa_detail' moughataa.pk %}" class="btn btn-info">View</a>
                <a href="{% url 'moughataa_update' moughataa.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'moughataa_delete' moughataa.pk %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}