{% extends "base.html" %}

{% block content %}
<h1>Product Type List</h1>
<a href="{% url 'producttype_create' %}" class="btn btn-primary">Create New Product Type</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Label</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for producttype in object_list %}
        <tr>
            <td>{{ producttype.id }}</td>
            <td>{{ producttype.code }}</td>
            <td>{{ producttype.label }}</td>
            <td>{{ producttype.description }}</td>
            <td>
                <a href="{% url 'producttype_detail' producttype.pk %}" class="btn btn-info">View</a>
                <a href="{% url 'producttype_update' producttype.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'producttype_delete' producttype.pk %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}