{% extends "users/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Set New Password - My App{% endblock %}
{% block content %}
<div class="d-flex align-items-center justify-content-center" style="min-height: 80vh;">
  <div class="card p-4 card-animation animate__animated animate__fadeInUp" style="max-width: 500px; width: 100%;">
    <div class="card-body">
      <h4 class="text-center form-title mb-4">Set New Password</h4>
      <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="d-grid">
          <button class="btn btn-primary mt-3" type="submit">Reset Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
