{% extends "base.html" %}

{% block title %}Ajouter/Modifier un produit dans le panier{% endblock %}

{% block content %}
<h1 class="mb-4">{% if object %}Modifier{% else %}Ajouter{% endif %} un produit dans le panier</h1>
<form method="post" class="needs-validation" novalidate>
    {% csrf_token %}
    {{ form.as_p }}
    <div class="mt-3">
        <button type="submit" class="btn btn-success">Enregistrer</button>
        <a href="{% url 'cartproducts-list' %}" class="btn btn-secondary">Annuler</a>
    </div>
</form>
{% endblock %}
