{% extends "base.html" %}

{% block title %}Liste des Paniers{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="text-center">Liste des Paniers</h1>
    <a href="{% url 'cart-create' %}" class="btn btn-primary mb-4">Créer un nouveau panier</a>

    <table class="table table-bordered">
        <thead class="table-dark">
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for cart in carts %}
            <tr>
                <td>{{ cart.code }}</td>
                <td>{{ cart.name }}</td>
                <td>{{ cart.description }}</td>
                <td>
                    <a href="{% url 'cart-detail' cart.pk %}" class="btn btn-info btn-sm">Voir</a>
                    <a href="{% url 'cart-update' cart.pk %}" class="btn btn-warning btn-sm">Modifier</a>
                    <a href="{% url 'cart-delete' cart.pk %}" class="btn btn-danger btn-sm">Supprimer</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
