<!-- templates/home.html -->

{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <h1 class="text-center">INPC - Derniers 6 Mois</h1>
    <div class="row mt-5">
        <table class="table table-bordered table-hover">
            <thead class="table-primary">
                <tr>
                    <th>Mois</th>
                    <th>Année</th>
                    <th>INPC (%)</th>
                </tr>
            </thead>
            <tbody>
                {% for data in inpc_data %}
                    <tr>
                        <td>{{ data.month_name }}</td> <!-- Affiche le nom complet du mois -->
                        <td>{{ data.year }}</td>
                        <td>{{ data.inpc }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
