{% extends "base.html" %}

{% block title %}<title>Module</title>{% endblock %}

{% block content %}

<h1 class="text-center"> Details of Module</h1>
<ul class="list-group p-5">
    <li class="list-group-item"><b>ID</b>: {{pointVente.id_point}}</li>
    <li class="list-group-item"><b>description</b>: {{pointVente.description}}</li>
    <li class="list-group-item"><b>localisation</b>: {{pointVente.localisation}}</li>
    <li class="list-group-item"><b>categorie</b>: {{pointVente.categorie}}</li>
    <li class="list-group-item"><b>latitude</b>: {{pointVente.latitude}}</li>
    <li class="list-group-item"><b>longitude</b>: {{pointVente.longitude}}</li>
</ul>


{% endblock %}