{% extends "base.html" %}

{% block title %}Liste des Produits{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4 text-center">Liste des Produits</h1>
    <div class="mb-3 text-end">
        <a href="{% url 'product-create' %}" class="btn btn-primary">Ajouter un Produit</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Code</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Unité de Mesure</th>
                <th>Type de Produit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.code }}</td>
                    <td>{{ product.name }}</td>
                    <td>{{ product.description }}</td>
                    <td>{{ product.unit_measure }}</td>
                    <td>{{ product.product_type }}</td>
                    <td>
                        <a href="{% url 'product-detail' product.id %}" class="btn btn-info btn-sm">Voir</a>
                        <a href="{% url 'product-update' product.id %}" class="btn btn-warning btn-sm">Modifier</a>
                        <form action="{% url 'product-delete' product.id %}" method="post" class="d-inline">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger btn-sm" onclick="return confirm('Voulez-vous vraiment supprimer ce produit ?');">Supprimer</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
