{% extends "base.html" %}

{% block content %}
<h1>Détails du Type de Produit</h1>
<ul class="list-group">
    <li class="list-group-item"><strong>ID:</strong> {{ producttype.id }}</li>
    <li class="list-group-item"><strong>Code:</strong> {{ producttype.code }}</li>
    <li class="list-group-item"><strong>Label:</strong> {{ producttype.label }}</li>
    <li class="list-group-item"><strong>Description:</strong> {{ producttype.description }}</li>
</ul>
<a href="{% url 'producttype-list' %}" class="btn btn-secondary mt-3">Retour à la Liste</a>
{% endblock %}