{% extends "base.html" %}

{% block content %}
<h1>Wilaya List</h1>
<a href="{% url 'wilaya_create' %}" class="btn btn-primary">Create New Wilaya</a>
<table class="table">
    <thead>
        <tr>
            <th type="hidden">ID</th>
            <th>Code</th>
            <th>Wilaya Name</th>
            <th colspan="3">Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for wilaya in object_list %}
        <tr>
            <td>{{ wilaya.id }}</td>
            <td>{{ wilaya.code }}</td>
            <td>{{ wilaya.name }}</td>
            <td>{{ wilaya.commune_name }}</td>
            <td>
                <a href="{% url 'wilaya_detail' wilaya.pk %}" class="btn btn-info">View</a>
                <a href="{% url 'wilaya_update' wilaya.pk %}" class="btn btn-warning">Edit</a>
                <a href="{% url 'wilaya_delete' wilaya.pk %}" class="btn btn-danger">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}